__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs
logs/
*.log

# Virtual environment
venv/
ENV/
env.bak/
*.env

# Data files
data/basic_info.txt
data/academic_info.txt
data/student_info.txt
data/student_summary.txt
data/summary/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db